body {
  font-family: arial, sans-serif;
  background: #905e63;
}

h1 {
  color: #934662;
  font-size: 35px;
  font-weight: 100;
  font-family: "Source Sans Pro", sans-serif;
  line-height: 28px;
  margin-bottom: 10px;
}

ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #934662;
}

li {
  list-style: none;
  color: rgb(135, 135, 135);
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}

li:first-letter {
  text-transform: capitalize;
}
.dt-desc {
  color: rgb(135, 135, 135);
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.weather-app {
  padding: 20px;
  border-radius: 15px;
  background: #ececec;
}

.overview {
  margin-bottom: 20px;
}

.search-button {
  border-radius: 30px;
  background: #e7d5d4;
}

button {
  display: block;
  background: #934662;
  color: white;
  font-size: 16px;
  padding: 6px 18px;
  border: 1px solid rgb(135, 135, 135);
  border-radius: 30px;
}

button:hover {
  background: #7e6d9e;
  color: white;
}

.weather-temperature img {
  margin-top: -29px;
  margin-right: 5px;
  height: 64px;
  width: 64px;
}

.weather-temperature strong {
  color: rgb(33, 33, 33);
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}

.weather-temperature .units {
  position: relative;
  font-size: 17px;
  top: -32px;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: black;
}

.weather-forecast-date {
  font-size: 16px;
  opacity: 0.5;
}

.humidity-wind {
  color: #934662;
}

.weather-forecast-temperature-max {
  color: #934662;
}

.weather-forecast-temperature-min {
  color: #934662;
  opacity: 0.6;
}

.weather-forecast-temperatures {
  font-size: 13px;
}

.credit {
  color: rgb(135, 135, 135);
  text-align: center;
  margin: 0 auto;
}

.horizontal-line {
  color: rgb(135, 135, 135);
  opacity: 0.2;
}

footer {
  font-size: 14px;
  margin-top: 40px;
  line-height: 18px;
  text-align: center;
}
